In [1]:
library(tidyverse)
library(repr)
library(readxl)
source("tests.R")
source("cleanup.R")
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [2]:
heart_disease_raw <- read_delim("data//cleveland.data", col_names = FALSE, delim = " ")

smoking_raw <- heart_disease_raw[seq(2, nrow(heart_disease_raw), 10),]

smoking_df <- smoking_raw |>
    separate(col = X7, into = c("cigs", "years"), sep = " ", convert = TRUE) |>
    mutate(smoker = ifelse(cigs == 0 & years == 0, 0, 1)) |>
    select(cigs, years, smoker)
smoking_df

Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 2982 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
chr (1): X7
dbl (6): X1, X2, X3, X4, X5, X6

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
“Expected 2 pieces. Additional pieces discarded in 7 rows [283, 288, 292, 294, 296, 297, 298].”
Warning message:
“Expected 2 pieces. Missing pieces filled with `NA` in 3 rows [286, 295, 299].”

    cigs years smoker
1   50   20    1
2   40   40    1
3   20   35    1
4    0    0    0
5    0    0    0
6   20   20    1
7    0    0    0
8    0    0    0
9    0    0    0
10  20   25    1
11  75   25    1
12   0    0    0
13  30   25    1
14  50   30    1
15  30   35    1
16  15   40    1
17   0    0    0
18  20   30    1
19   2   20    1
20  25   22    1
21  30   20    1
22  -9   -9    1
23   0    0    0
24  -9   -9    1
25  50   32    1
26  20    8    1
27   0    0    0
28   0    0    0
29  10   30    1
30   0    0    0
⋮   ⋮    ⋮     ⋮
270  0    0     0
271 20   20     1
272  0    0     0
273 15   25     1
274  0    0     0
275  2   35     1
276  0    0     0
277  0    0     0
278 20   23     1
279 40   35     1
280  0    0     0
281 20   15     1
282  0    0     0
283 44    1     1
284 NA   NA    NA
285 NA   NA    NA
286 47   NA     1
287 NA   NA    NA
288  0    0     0
289 NA   NA    NA
290 NA   NA    NA
291 NA   NA    NA
292  2   -9     1
293 NA   NA    NA
294 81    0     1
295 65   NA     1
296  0    1     1
297  1    1     1
298 -9   -9     1
299  1   NA     1

In [4]:
heart_disease <- read_csv("data//processed.cleveland.data", col_names = FALSE) |>
    select(X4, X5, X14) |>
    rename(trestbps = X4, 
           chol = X5, 
           num = X14) 
heart_disease

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    trestbps chol num
1   145      233  0
2   160      286  2
3   120      229  1
4   130      250  0
5   130      204  0
6   120      236  0
7   140      268  3
8   120      354  0
9   130      254  2
10  140      203  1
11  140      192  0
12  140      294  0
13  130      256  2
14  120      263  0
15  172      199  0
16  150      168  0
17  110      229  1
18  140      239  0
19  130      275  0
20  130      266  0
21  110      211  0
22  150      283  0
23  120      284  1
24  132      224  3
25  130      206  4
26  120      219  0
27  120      340  0
28  150      226  0
29  150      247  0
30  110      167  3
⋮   ⋮        ⋮    ⋮
274 112      149  0
275 134      204  1
276 170      227  0
277 146      278  0
278 138      220  0
279 154      232  1
280 130      197  0
281 110      335  2
282 130      253  0
283 128      205  3
284 122      192  0
285 148      203  2
286 114      318  4
287 170      225  2
288 125      220  0
289 130      221  0
290 120      240  0
291 152      212  1
292 132      342  0
293 120      169  2
294 140      187  2
295 124      197  1
296 120      157  0
297 164      176  3
298 140      241  1
299 110      264  1
300 144      193  2
301 130      131  3
302 130      236  1
303 138      175  0